<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="mp4/mp4" />
            <mimeMap fileExtension=".ogv" mimeType="ogv/ogv" />
            <mimeMap fileExtension=".webm" mimeType="webm/webm" />
        </staticContent>
    </system.webServer>
</configuration>
